@{
    ViewData["Title"] = "DetalleEquipo";
}


 <a href='@Url.Action("Index","Home")'  class="btn btn-primary mt-2">Atras</a>

<div class="container informacion">

    <h1 class="marroncito text-center display-1">@ViewBag.InfoEquipo.Nombre</h1>
    <h2 class="marroncito text-center">Continente:@ViewBag.InfoEquipo.Continente</h2>
    <h2 class="marroncito text-center">Copas ganadas: @ViewBag.InfoEquipo.CopasGanadas</h2>
   <h2 class="text-center"><a class="marroncito" href="@ViewBag.InfoEquipo.PagOficial" target="_blank">Página oficial</a></h2>
   
<div class="embed-responsive embed-responsive-16by9">
<video class="embed-responsive-item" width="560" height="315" src="@ViewBag.InfoEquipo.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video>
</div>
     
  <div class="text-center">
    <img class="rotar" src=@ViewBag.InfoEquipo.Camiseta width="auto" height="300px">
  </div>
</div>
<div class="text-center pt-5">
  

  <a href='@Url.Action("AgregarJugador","Home", new {IdEquipo=@ViewBag.InfoEquipo.IdEquipo})'  class="btn btn-primary mt-2">Crear un Jugador</a>
 </div>


  <table>
  <thead>
    <tr>
      <th class="text-center" colspan="3">Jugadores de @ViewBag.InfoEquipo.Nombre</th>
    </tr>
   
  </thead>
  <tbody>


      @foreach (Jugador jug in @ViewBag._ListaJugadores)
            
          {
        
           if(@jug.IdEquipo == ViewBag.InfoEquipo.IdEquipo)
              {
            <tr>
               <th class="blanco" scope="row">@jug.Nombre</th>
     
                 <td><a class="blanco edit" href='@Url.Action("VerDetalleJugador","Home", new {IdJugador = jug.IdJugador, IdEquipo = jug.IdEquipo})'>Detalle</a></td>
                <td><a class="blanco delete" href='@Url.Action("EliminarJugador","Home", new {IdJugador = jug.IdJugador, IdEquipo = jug.IdEquipo})'>Eliminar</a></td>
            </tr>
          }
               }

  </tbody>
</table>

