@{
    ViewData["Title"] = "DetalleEquipo";
}



<div class="container informacion">

    <h1 class="marroncito text-center display-1">@ViewBag.InfoEquipo.Nombre</h1>
    <h2 class="marroncito text-center">Continente:@ViewBag.InfoEquipo.Continente</h1>
    <h2 class="marroncito text-center">Copas ganadas: @ViewBag.InfoEquipo.CopasGanadas</h1>

  <div class="text-center">
    <img class="rotar" src=@ViewBag.InfoEquipo.Camiseta width="auto" height="300px">
  </div>
</div>
<div class="text-center pt-5">
  

  <a href='@Url.Action("AgregarJugador","Home", new {IdEquipo=@ViewBag.InfoEquipo.IdEquipo})'  class="btn btn-primary mt-2">Crear un Jugador</a>
 </div>


  <table>
  <thead>
    <tr>
      <th colspan="3">Jugadores de @ViewBag.InfoEquipo.Nombre</th>
    </tr>
   
  </thead>
  <tbody>


      @foreach (Jugador jug in @ViewBag._ListaJugadores)
            
          {
        
           if(@jug.IdEquipo == ViewBag.InfoEquipo.IdEquipo)
              {
            <tr>
               <th class="blanco" scope="row">@jug.Nombre</th>
     
                 <td><a class="blanco edit" href='@Url.Action("VerDetalleJugador","Home", new {IdJugador = jug.IdJugador, IdEquipo = jug.IdEquipo})'>Detalle</a></td>
                <td><a class="blanco delete" href='@Url.Action("EliminarJugador","Home", new {IdJugador = jug.IdJugador, IdEquipo = jug.IdEquipo})'>Eliminar</a></td>
            </tr>
          }
               }

  </tbody>
</table>

