@{
    ViewData["Title"] = "Home";
   
}



<div class="hero-image">
  <div class="hero-text">
    <h1 class="text-center blanco pt-5">BIENVENIDO A LA PÁGINA DEL MUNDIAL QATAR 2022</h1>
    <p class="text-center blanco pt-5 h4">DISFRUTA LA EXPERIENCIA</p>
    
  </div>
</div>








<h1 class="text-center blanco pt-5 pb-5 text-decoration-underline">EQUIPOS CLASIFICADOS</h1>





<div class="row">
@foreach (Equipo eq2 in ViewBag._ListaEquipos)
{

    <div class="col">
    <div class="card redondeado" style="width: 18rem;">
           <a href='@Url.Action("VerDetalleEquipo","Home", new {IdEquipo=eq2.IdEquipo})' ><img class="card-img-top " src="@eq2.Escudo" alt="Card image cap"></a> 
         <div class="card-body">
            
          
            <a class="sd h4 nomCards" href='@Url.Action("VerDetalleEquipo","Home", new {IdEquipo=eq2.IdEquipo})' > @eq2.Nombre </a>
        
    </div>
    </div>
       </div>
}</div>


       <a href='@Url.Action("AgregarEquipo","Home")'  class="btn btn-primary mt-2">Crear un Equipo</a>